In [1]:
import sys
import datetime as dt

import pandas as pd
import numpy as np
from IPython.display import display, HTML

sys.path.append('../invoicing')
from main import *

%load_ext autoreload
%autoreload 2

data_dir = '../tests/data/'

In [2]:
path = data_dir + 'timesheet.csv'
timesheet = read_timesheet(path, time_units='min')
timesheet

        date project  time_spent comment
0 2016-04-01       A    4.000000     NaN
1 2016-04-04       B    2.000000     NaN
2 2016-04-04       C    1.083333     NaN
3 2016-04-06       A   10.000000     NaN
4 2016-04-13       A    5.333333  booyah
5 2016-04-14       D   12.233333     doh
6 2016-04-15       A    8.350000     NaN

In [8]:
cuts = [10, 15, np.inf]
partition(27, cuts)

[10, 15, 2]

In [4]:

base_fee = 1
cuts = [10, 10, 10, np.inf]
rates = [30, 60, 90, 180]
my_biller = build_piecewise_linear_biller(base_fee, cuts, rates)

my_biller(16)

661

In [5]:
bill(timesheet, my_biller, cuts=cuts, groupby_project=False)

   period_end  time_spent   rate   cost
0  2016-04-03    4.000000  30.25  121.0
1  2016-04-03    0.000000    NaN    0.0
2  2016-04-03    0.000000    NaN    0.0
3  2016-04-03    0.000000    NaN    0.0
4  2016-04-10   10.000000  30.10  301.0
5  2016-04-10    3.083333  60.00  185.0
6  2016-04-10    0.000000    NaN    0.0
7  2016-04-10    0.000000    NaN    0.0
8  2016-04-17   10.000000  30.10  301.0
9  2016-04-17   10.000000  60.00  600.0
10 2016-04-17    5.916667  90.00  532.5
11 2016-04-17    0.000000    NaN    0.0

In [26]:
html = make_invoice(timesheet)
display(HTML(html))