In [13]:
import sys
import datetime as dt

import pandas as pd
import numpy as np
from IPython.display import display, HTML

sys.path.append('../invoicing')
from main import *

%load_ext autoreload
%autoreload 2

data_dir = '../tests/data/'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
path = data_dir + 'timesheet.csv'
timesheet = read_timesheet(path)
timesheet

        date project  time_spent comment
1 2016-02-26       B    2.083333    yeah
0 2016-04-01       A    4.000000     NaN
2 2016-04-02       B    2.000000     NaN
3 2016-04-02       C    1.083333     NaN
5 2016-04-02       D    3.900000     doh
4 2016-04-13       A    5.333333  booyah

In [36]:
f = slice_to_dates(timesheet, '20160401', '20160402')
f

        date project  time_spent comment
0 2016-04-01       A    4.000000     NaN
1 2016-04-02       B    2.000000     NaN
2 2016-04-02       C    1.083333     NaN
3 2016-04-02       D    3.900000     doh

In [37]:
pr_df = pd.DataFrame([
  ['A', 80],
  ['B', 100],
  ['C', 160],
  ['D', 100],
  ], columns=['project', 'rate'])

f = bill_at_constant_rate(timesheet, pr_df, '20160401', '21040402')
f

  project  time_spent  rate        cost
0       A    9.333333    80  746.666667
1       B    2.000000   100  200.000000
2       C    1.083333   160  173.333333
3       D    3.900000   100  390.000000

In [41]:
f = timesheet.groupby('project').apply(
  lambda g: g.set_index('date')[['time_spent']].resample('W').sum())
f

                    time_spent
project date
A       2016-04-03    4.000000
        2016-04-10         NaN
        2016-04-17    5.333333
B       2016-02-28    2.083333
        2016-03-06         NaN
        2016-03-13         NaN
        2016-03-20         NaN
        2016-03-27         NaN
        2016-04-03    2.000000
C       2016-04-03    1.083333
D       2016-04-03    3.900000

In [ ]:
tr_df = pd.DataFrame([
  ['W', 0, 0, 150],
  ['W'],
  ['W'],
  ['W'],
  [],        
  ], columns=['freq', 'time_cutoff', 'tier', 'rate'])

In [9]:
html = make_invoice(timesheet)

In [11]:
display(HTML(html))