In [29]:
import sys
import datetime as dt

import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2
sys.path.append('../invoicing')
from main import *

data_dir = '../tests/data/'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [46]:
path = data_dir + 'timesheet.csv'
f = read_timesheet(path)
f

        date project  is_billable  time_spent comment
1 2015-03-26       B            1         125    yeah
0 2016-04-01       A            1         240     NaN
2 2016-04-02       B            1         120     NaN
3 2016-04-02       C            1          65     NaN
5 2016-04-02       D            0         234     doh
4 2016-04-13       A            1         320  booyah

In [47]:
g = append_cost(f)
g

        date project  is_billable  time_spent comment        cost
1 2015-03-26       B            1         125    yeah  208.333333
0 2016-04-01       A            1         240     NaN  400.000000
2 2016-04-02       B            1         120     NaN  200.000000
3 2016-04-02       C            1          65     NaN  108.333333
5 2016-04-02       D            0         234     doh    0.000000
4 2016-04-13       A            1         320  booyah  533.333333

In [48]:
agg_by_project(g)

         time_spent        cost
project
A               560  933.333333
B               245  408.333333
C                65  108.333333
D               234    0.000000