In [5]:
import sys
import datetime as dt

import pandas as pd
import numpy as np
from IPython.display import display, HTML

sys.path.append('../invoicing')
from main import *

%load_ext autoreload
%autoreload 2

data_dir = '../tests/data/'

In [6]:
path = data_dir + 'timesheet.csv'
timesheet = read_timesheet(path)
timesheet

        date project  time_spent comment
1 2015-03-26       B         125    yeah
0 2016-04-01       A         240     NaN
2 2016-04-02       B         120     NaN
3 2016-04-02       C          65     NaN
5 2016-04-02       D         234     doh
4 2016-04-13       A         320  booyah

In [7]:
prdf = pd.DataFrame([
  ['A', 80],
  ['B', 100],
  ['C', 160],
  ['D', 100],
  ], columns=['project', 'hourly_rate'])

f = bill_at_constant_rate(timesheet, prdf)
f

        date project  time_spent comment  hourly_rate        cost
0 2015-03-26       B         125    yeah          100  208.333333
1 2016-04-02       B         120     NaN          100  200.000000
2 2016-04-01       A         240     NaN           80  320.000000
3 2016-04-13       A         320  booyah           80  426.666667
4 2016-04-02       C          65     NaN          160  173.333333
5 2016-04-02       D         234     doh          100  390.000000

In [8]:
agg_by_project(f)

         time_spent        cost
project
A               560  746.666667
B               245  408.333333
C                65  173.333333
D               234  390.000000

In [9]:
html = make_invoice(timesheet)

In [10]:
display(HTML(html))