In [1]:
import sys
import datetime as dt

import pandas as pd
import numpy as np
from IPython.display import display, HTML

sys.path.append('../invoicing')
from main import *

%load_ext autoreload
%autoreload 2

data_dir = '../tests/data/'

In [2]:
path = data_dir + 'timesheet.csv'
timesheet = read_timesheet(path, input_time_units='min')
timesheet

        date project  time_spent comment
0 2016-04-01       A    4.000000     NaN
1 2016-04-04       B    2.000000     NaN
2 2016-04-04       C    1.083333     NaN
3 2016-04-06       A   10.000000     NaN
4 2016-04-13       A    5.333333  booyah
5 2016-04-14       D   12.233333     doh
6 2016-04-15       A    8.350000     NaN

In [35]:
freq = 'D'
f = compute_project_times(timesheet, freq=freq)
f
# t = f['period_end'].iat[0]
# print(t)
# p = pd.Period(t, freq)
# p.start_time, p.end_time

   start_date   end_date project  time_spent
0  2016-04-01 2016-04-01       A    4.000000
1  2016-04-02 2016-04-02       A    0.000000
2  2016-04-03 2016-04-03       A    0.000000
3  2016-04-04 2016-04-04       A    0.000000
16 2016-04-04 2016-04-04       C    1.083333
15 2016-04-04 2016-04-04       B    2.000000
4  2016-04-05 2016-04-05       A    0.000000
5  2016-04-06 2016-04-06       A   10.000000
6  2016-04-07 2016-04-07       A    0.000000
7  2016-04-08 2016-04-08       A    0.000000
8  2016-04-09 2016-04-09       A    0.000000
9  2016-04-10 2016-04-10       A    0.000000
10 2016-04-11 2016-04-11       A    0.000000
11 2016-04-12 2016-04-12       A    0.000000
12 2016-04-13 2016-04-13       A    5.333333
13 2016-04-14 2016-04-14       A    0.000000
17 2016-04-14 2016-04-14       D   12.233333
14 2016-04-15 2016-04-15       A    8.350000

In [36]:

base_fee = 0

biller1 = build_linear_biller(rate=30, base_fee=base_fee, freq='M')

bins = [10, 5, 7, np.inf]
rates = [30, 60, 90, 180]
biller2 = build_piecewise_linear_biller(bins, rates, base_fee, freq='W')

decompose(17, bins)
biller2(17)
compute_cost(timesheet, biller2)

         date  time_spent   rate   cost
0  2016-04-03    4.000000   30.0  120.0
1  2016-04-03    0.000000    NaN    0.0
2  2016-04-03    0.000000    NaN    0.0
3  2016-04-03    0.000000    NaN    0.0
4  2016-04-10   10.000000   30.0  300.0
5  2016-04-10    3.083333   60.0  185.0
6  2016-04-10    0.000000    NaN    0.0
7  2016-04-10    0.000000    NaN    0.0
8  2016-04-17   10.000000   30.0  300.0
9  2016-04-17    5.000000   60.0  300.0
10 2016-04-17    7.000000   90.0  630.0
11 2016-04-17    3.916667  180.0  705.0

In [11]:
html = make_invoice(timesheet)
display(HTML(html))